Base_GCC_PRECOMPILE_PREFIX_HEADER = YES
Base_GCC_PREFIX_HEADER = $(SRCROOT)/Prefix.pch
Base_HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) logface-0.1/src /Users/nkpart/.kit/packages/logface-0.1/src
GCC_PRECOMPILE_PREFIX_HEADER = $(Base_GCC_PRECOMPILE_PREFIX_HEADER)
GCC_PREFIX_HEADER = $(Base_GCC_PREFIX_HEADER)
HEADER_SEARCH_PATHS = $(Base_HEADER_SEARCH_PATHS)
